bin/
*.sdf
*.log
*.pch
*.tlog
*.lastbuildstate
*.obj
*.idb
*.ipch
*.suo
build/QuarkEngineDebug/
build/QuarkEngineRelease/
build/QuarkEngineTestDebug/
build/QuarkEngineTestRelease/
build/ipch/
doc/html/
doc/latex/
